h1 {
	text-align: right;
}

body {
	margin: 0 2.5%;
	font-family: 'Ubuntu', sans-serif;
}

#profquery {
	margin: 0 auto;
	width: 90%;
	padding-left: 8%;
}

#evaltable {
	margin-top: 10px;
}

#result {
	margin-top: 10px;
	margin-bottom: 10px;
}
.table-responsive {
	word-wrap: break-word;
}

.ttip {
	data-toggle: tooltip;
	data-placement: top;
}
